@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: black;
}
body {
  background-image: url('/src/assets/logo.jpg');
  background-repeat: no-repeat;
  background-size: 100vh;
  background-position: center;
  height: 3000px;
}

container-custom {
  width: 100vw !important;
  height: 85vh !important;
  margin: 0px !important;
  padding: 5px;
}