@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: black;
}
body {
  background-image: url('/src/assets/logo.jpg');
  background-repeat: no-repeat;
  background-size: 100vh;
  background-position: center;
}
canvas {
  background-repeat: no-repeat;
  margin: 0px !important;
  height: 91vh !important;
  width: 98vw !important;
  padding: 2vh !important;  
}
container-custom {
  width: 100vw !important;
  height: 85vh !important;
  margin: 0px !important;
  padding: 5px;
}